
<!DOCTYPE html>
<html>
<title>Advanced Search</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<link rel="stylesheet" href="css/common.css">
<style>
   * {
      background-color: #f6f5f4;   
    }
 
    table td {
    word-wrap: break-word;
    overflow-wrap: break-word;

  }
</style>
<body>
 
  
  <%-include('include/_nav2')%>
 
  <div class="  large">
    <div class="container" id="menu">

      <div class="content center" style="">
        <div class="container" id="where">
          <div class="content">
            <br>
            <h3 class="center padding-48"><span class="tag wide"></span></h3>
          </div>
          <br>
        </div>


      </div>
    </div>
  </div>
  <div class=" center large margin-adv-search overflow">
    <h3 class="center padding-48"><span class="tag wide">Search Results</span></h3>
    <table>
  <tr>
    <th>ISBN</th>
    <th>Book Name</th>
    <th>Author</th>
    <th>User</th>
    <th>Rating</th>
    <th>Publisher</th>
    <th>Publishing year</th>

    </tr>
    <% for(var i=0;i<rating.length;i++){%>
      <tr>
        <td><%= rating[i].ISBN %></td>
        <td><%= rating[i].Book_Title.substring(0, 50)%> <% if(rating[i].Book_Title.toString().length > 50){ %>...<%}%></td>
        <td><%= rating[i].Book_Author.substring(0, 50)%> <% if(rating[i].Book_Author.toString().length > 50){ %>...<%}%></td>
        <td><% if(rating[i].User_ID > 0){ %><%= rating[i].User_ID%><%} else{ %> <%= rating[i].email %> <%}%></td>
        <td><%= rating[i].Book_Rating %></td>
        <td><%= rating[i].Publisher %></td>
        <td><%= rating[i].Year_of_Publication %></td>
      </tr>
      <% } %>
      
    </table>
    </div>

<%-include('include/_footer')%>

